{% extends 'base.html' %} {% block content %}
<div class="container my-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3 bg-dark py-5 rounded">
      <form class="form-inline justify-content-center">
        <label class="sr-only" for="inlineFormInputGroupUsername2">Email</label>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Email:</div>
          </div>
          <input
            type="text"
            class="form-control"
            id="inlineFormInputGroupUsername2"
            placeholder="Your Temporary Email Address"
          />
        </div>
        <button type="submit" class="btn btn-primary mb-2">Generate</button>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 bg-dark rounded-top">
      <form class="form-inline">
        <button type="submit" class="btn btn-primary my-2">
          Refresh Inbox
        </button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 offset-lg-2 vh-100 bg-light border-right"></div>
    <div class="col-lg-6 vh-100 bg-light"></div>
  </div>
</div>
{% endblock content %}
